version: "3"
services:
  python:
    restart: always
    build: .
    container_name: "python3"
    working_dir: "/root/opt/"
    tty: true
    volumes:
      - ./app:/root/opt
  code:
    image: codercom/code-server
    restart: always
    ports:
      - "8080:8080"
    volumes:
      - ./app:/home/coder/project